/* Supported By Section */
.supported-by {
    text-align: center;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, #ccf5f1, #f5f9f9 30%, #ccf5f1 100%); 
    border-bottom: 1px solid #ccc;
}

.supported-by .supported-content h2 {
    font-size: 24px;
    font-weight: bold;
}

.supported-by .logos {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.supported-by .logos img {
    max-width: 100px; /* Adjust to your logo size */
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {

    .supported-by .logos img {
        margin-bottom: 20px;
        max-width: 80px; /* Adjust to your logo size */
        height: auto;
    }
}

.supported-by .logos img:hover {
    transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .supported-by .logos {
        flex-direction: column;
        gap: 15px;
    }

    .supported-by h2 {
        font-size: 28px;
    }

    .supported-by .logos img {
        max-width: 100px;
        max-height: 70px;
    }
}
